@{
    ViewData["Title"] = "Map Page from second controller";

}


    <div class="text-center">

        <h1 class="display-4">Map page</h1>

        @ViewBag.ID

        <h2>Hello, @ViewData["Name"] !</h2>

        <h2>Session -  @ViewData["Session"]</h2>



    </div>
